

body h1 h2 h3 h4 h5 h6 p ul ol li {	
	padding:0px; 
	margin: 0px;
	border: 0px;
	font-size: inherit;
}



h1 {margin: 10px 0px 15px 0px}
h2 {margin: 10px 0px 20px 0px}
h3 {margin: 15px 0px 15px 0px}



li {display: inline;}


header {
	width:100%;
	background-image: url('images/header.jpg');
	background-color: #555555;
}